*
{
    margin: 0;
    padding: 0;
}

body{

    background-color: black;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1790px;
    top: 28px;
    left: 0px;
}

.main{
    
    padding-top: 4rem;
    height: 785px;
    background: url("bg.jpg") center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.gradient{
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
         rgba(0,0,0,0.8) 0,
         rgba(0,0,0,0) 60%,
         rgba(0,0,0,0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#caixa_login{

    background: rgba(0,0,0,0.8);
    width: 200px;
    height: 350px;
    padding: 130px;
    z-index: 1;
}
.texto {

    margin-right: 200px;
    padding: 1px;
    font-size: 40px;
    position: relative;
}
.bloco{

    height: 20px;
    width: 300px;
    background: #333;
    border-radius: 5px 5px;
    padding: 13px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20em
}
.bloco2{

    height: 20px;
    width: 300px;
    background:#333;
    border-radius: 5px 5px;
    padding: 13px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.button{

    
    height: 20px;
    width: 300px;
    background: red;
    border-radius: 5px 5px;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 22.5em;

}